PROJECT_NAME="AI-Based Smart Computer Laboratory Management and Asset Monitoring System"
SECRET_KEY="sb_publishable_5I0zHPTP2fZDRruLgkrOhQ_JSLlAWFV"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=1440
DATABASE_URL="postgresql://postgres.vhhvfgkhesbxjmymriar:[vimalraj@123]@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"

